.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  width: calc(100% - 20px); /* Button width minus padding */
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Blue button color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9; /* Darker blue button color on hover */
}
